*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main div {
    height: 100vh;
    width: 100%;
}

.scarpa1{
    background-color: brown;
}

.scarpa2{
    background-color: green;
}

.scarpa3{
 background-color: yellow;
}

.container{
    text-align: center;
}

img{


    
}

h2{
    font-size: 50px;
    font-weight: 900;
    word-spacing: 20px;
    color: yellow;
}

#shoes3{
    color: green;
}

nav{
    display: inline-block;
}